<h1>Bikes</h1>
<ul>
  <%@bikes.each do |bike|%>
    <%bike.brand ? bike_brand_name = bike.brand.name : bike_brand_name = nil%>
    <li>Name: <%=bike.name%>    Owner: <%=bike.owner.username%>     Price: <%=bike.price%>    Brand: <%=bike_brand_name%></li>
    <li>Review: <%=bike.review%>
  <%end%>
</ul>
