<% if flash.has?(:warning) %>
  <%= flash[:warning] %>
<% end %>
<h3>Bike: <%=@bike.name%></h3>
<a href="/bikes/<%=@bike.id%>/edit">Edit Bike</a>
<ul>
  <li>Owner: <a href="/owners/<%=@bike.owner.id%>"><%=@bike.owner.username%></a></li>
  <li>Price: $<%=@bike.price%></li>
  <%if @bike.brand%>
    <li>Brand: <a href="/brands/<%=@bike.brand.id%>"><%=@bike.brand.name%></a></li>
  <%end%>
  <li>Review: <%=@bike.review%></li>
</ul>


<form action='/bikes/<%=@bike.id%>/delete' method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Bike">
</form>

<br></br>
